.questionContainer {
  /*border: solid;*/
  background: #eee;
  width: 100%;
  margin-left: 10px;
}

.header {
  text-align: center;
}

.progressContainer {
  width: 100px;
  /*border: solid;*/
  height: 100%;
  background: #eee;

  display: flex;
  justify-content: center;
  /*align-items: center;*/
}

.sectionContainer {
  /*border: 3px dashed red;*/
  display: flex;
  padding: 20px;
  height: 500px
}

.button {
  composes: button from '../../components/css/button.css';
  height: 30px;
  width: 100px;

}

.buttons {
  composes: buttons from '../../components/css/selectQuestion.css';
}
