.questionContainer {
  /*border: solid;*/
  background: rgb(246,245,242);
  /*background: #eee;*/
  /*width: 100%;*/
  margin-left: 10px;
  min-width: 810px;
  border-radius: 8px;
}

.header {
  /*padding-left: 31px;*/
  text-align: center;
  margin: 30px 0px 0px 25px;
  font-size: 1.5rem;
}

.progressContainer {
  width: 100px;
  /*border: solid;*/
  height: 100%;
  /*background: #eee;*/
  position: absolute;
  left: -60px;
  top: -30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionContainer {
  /*border: 3px dashed red;*/
  display: flex;
  padding: 20px;
  position: relative;
  /*height: 500px*/
  transition-duration: 5s;
}

.button {
  composes: button from '../../components/css/button.css';
  height: 30px;
  width: 100px;

}

.buttons {
  composes: buttons from '../../components/css/selectQuestion.css';
}

@media (max-width: 768px) {
  .questionContainer {
    width: 400px;
  }
}
