a {
  /*text-align: center;*/
  /*display: block;*/
  text-decoration: none;
  color: rgba(0, 204, 102, 0.8);
  /*font-size: 1.3rem;*/
}

.successAnchor {
  text-decoration: underline;
}

.main {
  padding: 30px;
  text-align: center;
  line-height: 1.5;
}

p {
  max-width: 820px;
}

.header {
  text-align: center;
}
