.header {
  /*text-align: center;*/
  border: solid;
  /*margin: auto;*/
  padding: 10px;
  display: inline-block;
}

.headerContainer {
  /*display: flex;*/
  border: solid;
  /*justify-content: center;*/
}

.main {
  display: flex;
  justify-content: center;
}
