.header {
  /*text-align: center;*/
  /*border: solid;*/
  /*margin: auto;*/
  /*padding: 10px;*/
  display: inline-block;
  color: black;
}

.userContainer {
  /*border: solid;*/
  /*height: 100px;*/
  /*background: white;*/
  display: inline-block;
  margin-left: auto;
}

.logoContainer {
  /*border: solid;*/
}

.headerContainer {
  display: flex;
  /*border: solid;*/
  align-items: center;
  justify-content: left;
  background: #f6f5f2;
  margin: auto;
  padding: 0 40px 0 40px;
}

.main {
  display: flex;
  justify-content: center;
}
