.button {
  width: 150px;
  margin: 20px;
  height: 55px;
  box-shadow: 2px 2px 10px #ccc;
  background: white;
  border-radius: 5px;
  composes: centered from '../../../shared.css';
  cursor: default;
}

.button:hover {
  box-shadow: 2px 2px 15px #bbb;
}

.active, .active:hover {
  box-shadow: 0px 0px 10px lime;
}
