.buttons {
  /*border: solid;*/
  composes: centered from '../../../shared.css';
}

.header {
  text-align: center;
  padding-top: 8px;
}

.main {
  background: whitesmoke;
  margin: 20px;
  /*padding-top: 5px;*/
}
