.main {
  /*border: solid;*/
  /*height: 50px;*/
  /*width: 100px;*/
  /*float: right;*/
  /*margin-top: 10px;*/
  /*position: absolute;*/
  /*left: 200px;*/
  /*padding: 20px;*/
  /*background: white;*/
  border-radius: 8px;
  /*display: inline-block;*/
  composes: centered from '../../../shared.css';
}

.avatar {
  height: 50px;
  width: 50px;
}

.inputs {
  /*border: 1px solid #E8E7E2 ;*/
  /*border-radius: 30px;*/
  /*padding-bottom: 20px;*/
  /*margin: 5px;*/
  min-height: 15px;
  min-width: 100px;
  /*display: inline-block;*/
  /*background: white;*/
  /*border: 1px solid #E8E7E2;*/
  text-align: center;
  font-size: 0.9rem;
}

.name, .company {
  composes: inputs;
}

.name {
  /*border-bottom: 0.5px solid #ddd;*/
  /*border: solid;*/
  padding: 0px 10px;
}

@media (max-width: 768px) {
  .main {
    flex-wrap: wrap;
  }
  .name {
    width: 100%;
  }
}
