.input {
  border-radius: 15px;
  width: 250px;
  height: 30px;
  border: .5px solid #aaa;
  padding-left: 10px;
}

.input:focus {
  outline-style: none;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
