.survey-container {
  border: solid;
  padding: 20px;

  h1 {
    text-align: center;
  }

  .survey-header {
    border: solid;
    text-align: center;
  }

//WELCOME CONTAINER

  .welcome-container {
    border: solid;
    display: flex;

    h1 {
      width: 100%;
    }
  }

  .welcome-form-container {
    border: solid;
    min-width: 235px;
    width: 50%;
  }

}
